@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

body {
    background-color: #C5F0FF;
    margin: 0px;
}

.layer-hidden{
    display: none;
}

a {
  text-decoration: none;
  font-family: 'Bubblegum Sans';
}

#backbutton {
  float: left;
  font-size: 1.7rem;
  margin: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 2rem;
  color: #4A90E2;
  cursor: pointer;
}

#backbutton:hover {
  font-size: 1.7rem ;
  color: white;
  cursor: pointer;
}


#backbutton-layer {
  float: left;
  font-size: 1.7rem;
  margin: 1rem;
  margin-bottom: 0;
  margin-top: 26px;
  margin-left: 2rem;
  color: #BAE0F5;
  cursor: pointer;
}

#backbutton-layer:hover {
  font-family: 'Bubblegum Sans';
  font-size: 1.7rem ;
  color: white;
  cursor: pointer;
}

#gameover{
    font-family: 'Bubblegum Sans';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4A90E2;
    text-align: center;
    color: #ffffff;
    font-size: 2rem ;
    z-index: 1300;
}

.viewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;

}


#counter {
  position: fixed;
  font-family: 'Bubblegum Sans';
  border-width: thin;
  text-align: center;
  font-size: 30px;
  color: #4A90E2;
  position: absolute;
  top: 6rem;
  left: 50%;
}


.progressbar {
  width: 75%;
  margin: 26px auto;
  border: solid 1px #ffff;
}
.progressbar .inner {
  height: 25px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 40s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #4A90E2;
  }

  100% {
    width: 0%;
    background: #F00;
  }
}


.bubble-1 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-2 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-3 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-4 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-5 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-6 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}


.bubble-reset {
  display: none;
}


@-webkit-keyframes mymove {
    from {top: -50px;}
    to {top:-2700px;}
}

@keyframes mymove {
    from {top: -50px;}
    to {top:-2700px;}
}





/* For width 500px and larger: */
@media only screen and (min-width: 500px) {


    .bubble-1 {
        margin-left: 100px;
        width: 250px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-2 {
        margin-left: 200px;
        width: 300px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }


    .bubble-3 {
        margin-left: 500px;
        width: 200px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-4 {
        margin-left: 400px;
        width: 400px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-5 {
        margin-left: 700px;
        width: 500px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }


    .bubble-6 {
        margin-left: 600px;
        width: 450px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

}
