@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');

body {
    background-color: #C5F0FF;
    margin: 0px;
}


.viewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#bath {
  position: fixed;
  bottom: -20px;
  width: 100%;
}


#counter {
  font-family: 'Bubblegum Sans';
  border-width: thin;
  text-align: center;
  font-size: 30px;
  color: absolute;
  position: absolute;
  margin: 15px;
  left: 0;
  top: 0;
}


.bubble-1 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-2 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-3 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-4 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-5 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.bubble-6 img {
  width: 100%;
  height: auto;
  cursor: pointer;
}


.bubble-reset {
  display: none;
}


@-webkit-keyframes mymove {
    from {top: -400px;}
    to {top:-2000px;}
}

@keyframes mymove {
    from {top: -400px;}
    to {top:-2000px;}
}





/* For width 500px and larger: */
@media only screen and (min-width: 500px) {


    .bubble-1 {
        margin-left: 600px;
        width: 150px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-2 {
        margin-left: 200px;
        width: 260px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 15s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }


    .bubble-3 {
        margin-left: 800px;
        width: 200px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 5s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-4 {
        margin-left: 1100px;
        width: 300px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 5s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

    .bubble-5 {
        margin-left: 1300px;
        width: 400px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 5s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }


    .bubble-6 {
        margin-left: 500px;
        width: 450px;
        height: auto;
        position: relative;
        -webkit-animation: mymove infinite;
        -webkit-animation-duration: 5s;
      /*  animation: mymove infinite; */
        animation-duration: 30s;
    }

}
